body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0d8b0;
}

header {
	top: 20px; /* Posicionamiento superior */
    left: 0; /* Posicionamiento izquierdo */
    width: 200px; /* Ancho del menú */
    height: 160vh; /* Altura del menú (100% del viewport) */
    background-color: #ec5353 ; /* Color de fondo del menú */
    padding: 20px; /* Padding interno del menú */
	flex:1;
    transition: all 0.3s ease; /* Animación de transición para suavizar los cambios */
}

h1 {
    text-align: center;
	display:block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000;
	display: block; /* Ocupa todo el ancho disponible */
    padding: 10px; /* Padding para cada enlace */
    text-decoration: none; /* Elimina la decoración por defecto */
    color: whitesmoke; /* Color del texto de los enlaces */
    transition: color 0.3s ease; /* Animación de transición para el color */

}

main {
    padding: 20px;
	display: inline;
	flex:4;
}

section {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
}  

.contenedor{
	display:flex;
}

.menuSuperior{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menuSuperior nav{
    top:auto; /* Posicionamiento superior */
    width:auto; /* Ancho del menú */
    height: 200; /* Altura del menú (100% del viewport) */
    background-color: #020003; /* Color de fondo del menú */
    padding: 20px; /* Padding interno del menú */
	flex:1;
    transition: all 0.3s ease; /* Animación de transición para suavizar los cambios */
}

.menuSuperior nav ul{
    display:flex;
    width: 7%;
    margin:auto;
}

.menu{
    display: flex;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.imagen{
    width: 300px;
    height: 200px;
    margin: 5px 10px;
}